@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div id="chartdiv" style="width:800px; height:600px">
            <h2>Burası chart alanıdır.</h2>
        </div>
    </div>
</div>
